/*
Theme Name: Denver Post Individual Blogs
Description: Used only for Denver Post blogs, not the main page. 
Version:
Author: Daniel Petty, 2010
Author URI: http://blogs.denverpost.com

*/

/* Basics and Typography */

body {
        width: 1008px;
        background: #E4E4E4;
        margin: 0 auto;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        text-align: left;
}

/*Styles for Section Page Masthead*/

#wrapper {
	background: #FFF;
        border: 1px solid #999;
}

#masthead_section {
	width: 1008px;
	height: 65px;
	vertical-align: middle;
	position: relative;
	}

#masthead_sectionlogo {
	width: 351px;
	position: absolute;
	left: 20px;
	top: 17px;
	}

#sectionname {
        color: #000;
        font-weight: bold;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
	}

#masthead_sectiondate {
	width: 150px;
	font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 7px;
	right: 20px;
	text-align:right;
	}
 
img {
        border: none;
}

.aligncenter, img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
     
.alignright {
        float: right;
        margin-left: 10px;
        }
    
.alignleft {
        float: left;
        margin-right: 10px;
        }
    
.wp-caption.alignright {
        padding: 0;
        border: 0 none;
}

.wp-caption.alignleft {
        padding: 0;
        border: 0 none;
}

p {
	font-size: 15px!important;
	margin: 0 0 1.2em;
	padding: 0;
	line-height: 1.4em;
}

.pp_image {
	margin-bottom: 5px;
}

a {
        color: #003459;
}

a:hover, a:active {
	color: #003459;
	text-decoration: underline;
}

a.more-link {
	text-decoration: underline;
}

a.textwidget {
	color: #003459;
	text-decoration: none!important;
}

a.textwidget:hover {
	text-decoration: underline!important;
}

a.rss {
        color: #FFF;
}

a.rss:hover {
        text-decoration: underline!important;
}

a.biolink {
        margin: 0 0 15px 5px;
        text-decoration: underline!important;
        display: block;
}

ol {
        font-size: 1em;
        line-height: 1.5em;
        list-style-position: inside;
        padding: 0;
}

ol li {
        font-size: 1.2em;
        margin-left: 10px;
        line-height: 1.3em;
}

ul {
        font-size: 1em;
        line-height: 1.5em;
        padding: 0;
}

h1 {
	width: 483px;
	margin: 0 0 5px 155px!important;
        padding-left: 0px!important;
	color: #000000!important;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.05em;
}

h1 a {
        color: #003459!important;
}

h1 a:hover {
        text-decoration: underline!important;
        color: #0056C6!important;
}

h2, h3, h4, h5, h6 {
        margin: .9em 0;
}

h2 {
        font-size: 1.3em;
}

h3 {
        font-size: 1.2em;
}

h4 {
        font-size: 1.0em;
}

h3.arkayne-header {
        border-top: 4px solid #CCC;
        padding-top: 5px;
}

.arkayne {
        clear: none!important;
}

.arkayne-footer {
        clear: none!important;
        margin: 0px!important;
        display: none!important;        
}

ul.arkayne-links li {
        list-style-type: disc;
        list-style-position: inside;
}

ul.arkayne-links li p {
        display: inline;
        font-size: 12px!important;
}

input, select {
	color: #000000;
	font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0 0 5px;
}

textarea {
        width: 250px;
}

blockquote {
        border-left: 5px solid #DDDDDD;
        font-family: Arial, Helvetica, sans-serif;
        margin:0 20px 15px;
        padding-left: 15px;
}

#searchform {
        margin: 4px 0px 0px 0px;
}

#sitesearch {
        width: 250px;
        height: 17px;
}

#searchbutton {
        width: 40px;
        height: 20px;
        background-color: #111A70;
        font-weight: bold;
        font-size: 9px;
        font-family: Tahoma, Trebuchet, sans-serif;
        color: #FFF;
        margin-left: 3px;
        border: 1px solid #255b6c;
}

#container {
        width: 1008px;
}

#header {
        width: 1008px;
        height: 105px;
        margin: 0 auto;
}

#content {/*Difference between stylesheets*/
	width: 640px!important;
        padding: 8px;
        border-right: 1px solid #999999;
}

.post {
	width: 640px;
}

.post a {
	text-decoration: none;
}

.thedate {
	float: left;
        width: 640px;/*Difference between stylesheets*/
	color: #525252;
	padding-top: 10px;
        text-indent: 155px;
	margin-bottom: 5px;
}

.thedate a {
        color: #525252;
}

.thedate a:hover {
        text-decoration: underline;
}

.theauthor {
        float: left;
        width: 640px;/*Difference between stylesheets*/
        margin-bottom: 10px;
        text-indent: 155px;
}

.postauthor a {
        text-transform: uppercase;
}

.postauthor a:hover {
        text-decoration: underline;
        color: #0056C6;
}

.feedback {
	clear: both;
	border-top: 2px solid #003459;
	padding: 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.feedback a:hover {
        text-decoration: underline;
}

.feedback img {
        margin-right: 5px;
}

.sidebarinfo {
        font-family: Georgia, serif;
        font-size: 14px;
        margin-left: 5px;
}

.sidebarinfo a:hover {
        text-decoration: underline!important;
}

.storycontent {
	display: block;
	font-family: Georgia, Times, serif;
	width: 495px;
	margin: 30px 0px 10px 155px;/*Difference between stylesheets*/
	border-top: 2px solid #003459;
	border-bottom: 2px solid #999;
	padding-top: 10px;
}

.storycontent ul li {
	font-size: 15px;
	line-height: 1.4em;
        list-style-type: disc;
        list-style-position: outside;
	margin: 0 0 15px 15px;
}

.storycontent img {
        border: 1px solid #999999;
}

.storycontent a {
        text-decoration: underline!important;
}

div.sfywdgt_StorifyWidget {
		clear:none!important;
		}

.storycontent .twitter-tweet-rendered {
	clear:none!important;
	}

.storycontent .twp-container {
	clear:none !important;
	}

div.twitter-tweet-rendered {
	clear:none!important;
	}
	
.storycontent .twt-tweet .author:after {
	clear:left!important;
	}

.pagecontent {
	display: block;
	font-family: Georgia, Times, serif;
	width: 495px;
	margin: 0px 0px 10px 155px;
	border-top: 2px solid #003459;
	padding-top: 10px;
}

.pagecontent ul li {
        list-style-type: disc;
        list-style-position: inside;
}

.pagecontent img {
        border: 1px solid #999999;
}

.pagecontent a {
        text-decoration: underline!important;
}

.twtr-widget h4 {
        color: #FFF;
}

.postmeta {
	clear: left;
	width: 100%;
        font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	padding-bottom: 40px;
        border-bottom: 9px solid #003459;
}

.postmeta a:hover {
	text-decoration: underline!important;
}

.textwidget {
	font-family: Georgia, Times, serif;
	font-size: 1.1em;
}

.textwidget img {
	float: right;
	margin: 0 0 5px 5px;
	border: 1px solid #999999;
}

.textwidgetbyline {
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
}

.textwidgetbytitle {
	color: #525252;
	font-size: 12px;
	font-style: italic;
        margin-bottom: 3px;
	}
        
#sidebar2 ul.wppp_list li {
        list-style-position: inside!important;
        list-style-type: decimal!important;
}

#bottomcontentdouble {
        display: inline;
        float: left;
        width: 500px;
}


/* Page Navigation */
.postnavigation {
	border-bottom: 1px solid #999;
        border-top: 1px solid #999;
	height: 25px;
	padding: 10px 0 10px;
	clear: both;
}

.postnavigation a {
	text-decoration: none!important;
}

.postnavigation a:hover {
	text-decoration: underline!important;
}

.postnav_single {
        width: 100%;
        display: block;
        height: 60px;
        padding: 18px 0;
        border-bottom: 3px solid #999;
}

.postnavtitle_left {
        color: #999;
        font-size: 0.8em;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
}

.postnavtitle_right {
        color: #999;
        font-size: 0.8em;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
}

.pagelinksnumbers {
        text-align: right;
        margin-bottom: 10px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
}

.pagelinksnumbers a {
        padding: 3px;
        border: 1px solid #999;
        text-decoration: none!important;
}

.pagelinksnumbers a:hover {
        text-decoration: underline!important;
        border: 1px solid #0056C6;
}

.pagelinks {
	text-align: right;
        margin-bottom: 10px;
        font-size: 15px;
        font-family: Arial, Tahoma, sans-serif;
        font-weight: bold;
        float: right;
}

.pagelinks a {
        border: 1px solid #999;
        padding: 3px;
        margin-left: 3px;
        text-decoration: none!important;
}

.pagelinks a:hover {
        text-decoration: underline!important;
        border: 1px solid #0056C6;
}

.left {
        float: left;
        font-size: 1.1em;
        font-family: Georgia, Times, serif;
        width: 300px;
        font-weight: bold;
        padding: 3px 0;
}

.right {
        float: right;
        text-align: right;
        font-family: Georgia, Times, serif;
        font-size: 1.1em;
        width: 300px;
        font-weight: bold;
        padding: 3px 0;
}

.left a:hover, .right a:hover {
        text-decoration: underline!important;
}

.leftdouble {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.rightdouble {
	float: right;
        text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

/*Removes Wordpress Stats Smiley Face*/
img#wpstats {  
     width: 0;  
     height: 0;  
     padding: 0;  
     border: none;  
     overflow: hidden;
}

/* Left Sidebar*/
#sidebar {
        float: left;
        width: 135px;
        overflow: hidden;/*Difference between stylesheets*/
}

.categoryheader {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 3px 0;
        margin: 20px 0 5px 0;
        border-top: 5px solid #003459;
        border-bottom: 1px dotted #999;
        text-transform: uppercase;
        text-indent: 5px;
        background-color: #F5F7F9;
}

.relatedheader {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        margin: 5px 0;
        text-transform: uppercase;
        padding-bottom: 3px;
        border-bottom: 1px dotted #999;
}

.relatedtopicsheader {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: 3px 0;
        margin: 20px 0 5px 0;
        border-top: 2px solid #003459;
        border-bottom: 1px dotted #999;
        text-transform: uppercase;
        text-indent: 5px;
        background-color: #F5F7F9;
}

ul.articletools {
        height: 27px;
        margin-left: 155px;
        border-bottom: 1px solid #999;
        font-weight: bold;
}

ul.articletools li {
        padding: 0px 20px 0 0;
        float: left;
}

ul.articletoolshome {
        height: 27px;
        margin-left: 155px;
        border-bottom: 1px solid #999;
        font-weight: bold;
}

ul.articletoolshome li {
        padding: 0px 60px 0 0;
        float: left;
}

ul.story li {
        list-style-type: disc;
        list-style-position: outside;
        margin: 0 0 15px 30px;
        font-size: 14.5px;
        line-height: 1.5em;
}

ul.relatedcontent {
        list-style-type: disc;
        list-style-position: inside;
        margin-left: -12px;
        border-right: none;
}

.relatedtopics {
        margin-left: 5px;
}

.relatedtopics a:hover {
        text-decoration: underline!important;
}

.advertisetext {
	width: 100%;
	margin-top: 3px;
	text-align: right;
}

.advertisetext a:hover {
	text-decoration: underline!important;
}

.advertisetext_bot {
	width: 100%;
	padding-top: 5px;
	text-align: center;
	color: #999999;
	border-top: 3px solid #003459;
}

.advertisetext_bot a:hover {
	text-decoration: underline!important;
}

#sidebar ul li, #sidebar2 ul li {
        list-style-type: none;
        list-style-image: none;
}

#sidebar ul li ul li {
        margin-left: 12px;
        padding: 0 0 5px 10px;
        line-height: 13px;
}

#sidebar ul li ul li a:hover {
        text-decoration: none;
}

#sidebar2 {/*Difference between stylesheets*/
        float: right;
        width: 300px;
        margin: -70px 8px 0 0;
}

#sidebar2 ul li {
	margin: 5px 0px 0px 5px;
	font-family: Georgia, Times, serif;
	font-size: 1.2em;
	border-left: 7px solid #CCC;
	padding-left: 5px;
}

#sidebar2 ul li:hover {
	border-left: 7px solid #003459;
}

#sidebar2 ul li a:hover {
        text-decoration: none;
}

#sidebar2 ol.commented {
        list-style-type: decimal;
        list-style-position: outside;
        font-family: Georgia, serif;
        margin-left: 0px!important;
}

.sidebarlist {
	border-left: 7px solid #CCCCCC;
	padding-left: 5px;
	display: block;
	font-size: 1.2em;
	font-family: Arial, Helvetic, sans-serif;
	margin: 5px 0 0 5px;
}

.sidebarlist:hover {
	border-left: 7px solid #003459;
	display: block;
	width: auto;
}

.sidebarcomments {
	font-size: 15px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #E9E9E9;
}

.sidebarcomments a {
        background: transparent url(http://extras.denverpost.com/media/images/blogstheme/comments_blue.gif) no-repeat scroll 0 3px;
        padding-left: 18px;
}

ul.articletools li.comments {
        background: transparent url(http://extras.denverpost.com/media/images/blogstheme/comments_blue.gif) no-repeat scroll 0 3px;
        padding-left: 18px;
}

a.social_bookmarks {
        background: transparent url(http://extras.denverpost.com/media/images/blogstheme/share11x11.gif) no-repeat scroll 0 2px;
        display: inline!important;
        padding-left: 15px;
}

.articletools {
	margin-top: 5px;
	vertical-align: text-top;
	font-size: 12px;
}

/* The following is the fix for 3-pixel-jog bug in IE */
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html #content {
 /*margin-right: 7px;*/
}
 
* html #sidebar, * html #sidebar2 {
 height: 1%;
}
/* End hide from IE5/mac */


/* Comments */

.commenttitle  {
        display: block;
        text-align: left;
        font-weight: bold;
        margin: 12px 12px 12px 12px;
        padding: 0px 0px 7px 0px;
        font-size: 1.4em;
        border-bottom: 1px solid #111A70;
}

#commentlist {
list-style-type: none; 
text-align: left;
margin: 0px 0px 0px 12px;
}

#commentlist ol {
margin: 0px 0px 0px 0px;
}

#commentlist li {
margin: 0px 0px 25px 0px;
}

#commentlist li p{
        padding: 0px;
        margin: 15px 0px 0px 0px;
}

#commentsclosed {
        text-align: center;
        color: #666666;
        font-size: 1.1em;
}

.dashes {
        border-top: 1px dotted #cccccc;
        margin-top: 5px;
        width: 450px;
}

.recentcomment {
	margin-bottom: 8px;
}

.recentcomment a {
	color: #000000;
	}

.recentcomment a:hover {
        color: #0056C6!important;
}

.recentcommentauthor {
	margin-bottom: 5px;
        color: #003459;
	width: 100%;
}

.recentcommentauthor a:hover {
	text-decoration: underline!important;
	}
	
.recentcommenttitle {
	font-size: 11px;
        line-height: 12px;
        font-weight: bold;
	}

.recentcommenttitle a:hover {
	text-decoration: underline!important;
	}

.recentcommentdate {
	font-size: 11px;
	text-transform: uppercase;
	border-bottom: 1px solid #999999;
	margin-top: -1px;
	padding-bottom: 2px;
	}
        
.authorpagename {
        color: #575757;
        font-family:Tahoma,sans-serif;
        font-size:28px;
        line-height:28px;
        margin:10px 0 10px;
}

.authorcolumn {
        width: 230px;
        float: left;
        margin-right: 5px;
}

.authorcolumn a {
        text-decoration: underline!important;
}

.articlecolumn {
        width: 395px;
        float: right;
}

.articlecolumn a:hover {
        text-decoration: underline;
}

.authordate {
        color: #525252;
        float: left;
        margin-bottom: 5px;
        width: 100%;
        padding-top: 5px;
}

.authorheadline {
        border-bottom:1px dotted #999999;
        font-size:1.4em;
        font-weight:bold;
        line-height:1em;
        margin-bottom:5px;
        padding-bottom:10px;
        width:100%;
}

.authordescription {
        font-size: 13px;
        color: #666666;
        padding-top: 10px;
        border-top: 1px solid #999999;
        margin-bottom: 10px;
}

p.authordescription {
        margin-bottom: 5px;
}

p.wp-caption-text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px!important;
	color: #595959;
	margin-bottom: 10px;
        line-height: 14px;
	padding: 3px 0;
}

.caption {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px!important;
	color: #595959;
	margin-bottom: 10px;
        line-height: 14px;
	padding: 3px 0;
}

/* Comment Form  */
#postcomment, #nocomment, #comment{
        display: block;
        width: 450px;
        text-align: left;
        font-weight: bold;
        margin: 40px 12px 12px 12px;
        padding: 0px 0px 7px 0px;
        font-size: 1em;
        border-bottom: 1px solid #111A70;
}


#nocomments {
        margin: 12px 12px 12px 12px;
}


#commentsform {
        margin: 0px 0px 0px 12px;
}


#commentform label{
        font-weight: bold;
}


#commentsform textarea {
        width: 445px;
        border: 1px solid #CCC;
        padding: 3px;
        margin-top: 3px;
}

#commentssubmit{
        height: 24px;
        font: bold 9px Tahoma, Trebuchet, sans-serif;
        margin-left: 3px;
        border: 1px solid #255b6c;
}

/* Credits */
#footer {
	margin: 10px 10px 0px 0px;
	width: 1006px;
	font-size: .9em;
	text-align: center;
}

#footer p {
	margin-top: 0;
}

#siteOverview {
        margin-bottom: 30px;
        padding:6px 10px 12px;
        text-align: left;
        display: block;
        width: 990px;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
}

ul.siteOverview-majorcolumn {
        width: 480px;
        margin-right: 15px;
        float: left;
}

ul.siteOverview-column {
        float: left;
        width: 235px;
        margin-bottom: 15px;
}

ul.siteOverview-column li {
        list-style-type: disc;
        font-size: 1.34em;
        line-height: 1.4em;
        list-style-position: inside;
        padding: 0.5px 1px 0.5px 1px;
}

ul.siteOverview-column li a:hover {
        text-decoration: underline!important;
        color: #FFF!important;
}

.footerheader {
        border-bottom: 4px solid #E4E4E4;
        color: #E4E4E4;
        font-family: Arial,sans-serif;
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px
}

.footerSubhed {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
}

.clearer {
	clear: both;
	line-height: 0px;
}

.singlepages p {
        text-align: left;
        margin: 0px 105px 80px 105px;
        line-height: 20px;
}

/* Search/Archives/Categories Results Pages */

.searchresult, .searchresult h2 {
        display: block;
        margin: 0px 0px 5px 0px;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        padding: 2px 0px 4px 10px;
}

.searchinfo {
        font-size: .9em;
        line-height: 18px;
        padding: 0 0 2px 0;
        color: #000;
        margin: 0 ;
}

.searchdetails {
        font-size: .9em;
        line-height: 18px;
        padding: 0 0 2px 0;
        color: #000;
        margin: 0 ;
        border-bottom: 1px solid #d6debb;
}

/* 
This piece of code is for clearing
the floats without structural markup
Don't modify it
*/

.clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
}

.clearfix {
        display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
        height: 1%;
}
.clearfix {
        display: block;
}

/* End hide from IE-mac */

.alt {
        border-bottom: 1px solid #dbdbdb;
        }


p, li
{   
    white-space: normal !important;
}

/*JQUERY TABBER STYLES */

.most_time {
        color: #920A11;
        text-transform: uppercase;
        font-size: 11px;
        padding-bottom: 3px;
}

.widget {
        padding: 10px;
        background: #f3f1eb;
        border: 1px solid #DEDBD1;
        margin-bottom: 15px;
}

	.widget a {
		color: #222;
		text-decoration: none;
                border: none!important;
	}
	
	.widget a:hover {
		color: #0056C6;
		text-decoration: underline!important;
                border: none!important;
	}

	.tabnav li {
                display: inline;
                list-style: none;
                border: none!important;
	}
	
		.tabnav li a {
			text-decoration: none;
			text-transform: uppercase;
			color: #222222;
			font-size: 0.8em;
			font-weight: bold;
			padding: 4px 6px;
			outline: none;
		}
		
		.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
                        background: #dedbd1;
                        color: #222;
                        text-decoration: none;
		}
		
	.tabdiv {
                margin-top: 2px;
                background: #fff;
                border: 1px solid #dedbd1;
                padding: 5px;
	}
	
		.tabdiv li {
                        list-style-type: decimal!important;
                        list-style-position: inside!important;
                        font-size: 1.1em!important;
                        margin-left: 10px;
                        border-left: none!important;
                        border-top: 1px dotted #999999;
                        padding-top: 5px;
                        padding-left: 0px!important;
		}

.ui-tabs-hide {
		display: none;
		}

		#featuredvid {
                        text-align: center;
		}
		
			.fvid {
                                margin-bottom: 5px;
			}
		
			.vidselector li {
                                text-align: left;
                                list-style: none;
                                padding: 5px;
                                background: #ffffff;
                                border: 1px solid #dedbd1;
                                text-transform: uppercase;
                                margin-bottom: 5px;
			}
